.wrapper {
    margin: 0 auto;
    width: 1141px;
    height: 686px;
    border: 25px solid #374765;
}
table {
    text-align: center;
    font-family: 'Arimo', sans-serif;
    border-collapse: collapse;
}
th {
    box-shadow: inset -3px 0 6px -3px rgba(0, 0, 0, 0.27);
    width: 310px;
    height: 69px;
}
td {
    box-shadow: inset -3px 0 6px -3px rgba(0, 0, 0, 0.27);
    width: 277px;
    height: 69px;
}
.first-colon {
    background-color:  #fafafa;
}
h3 {
    color:  #484848;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 28px;/* Приближение из-за подстановки шрифтов */
    position: absolute;
    margin-top: 50px;
    margin-left: 85px;
}
h2  {
    color:  #484848;
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 28px;/* Приближение из-за подстановки шрифтов */
    position: absolute;
    margin-top: 78px;
    margin-left: 49px;
}
.green {
    background-color:  #89c331;
    width: 277px;
    height: 70px;
    color:  #ffffff;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 73px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.red {
    background-color:  #f04a56;
    width: 277px;
    height: 70px;
    color:  #ffffff;
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 70px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.blue {
    background-color:  #20807c;
    width: 277px;
    height: 70px;
    color:  #ffffff;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 73px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.green2 {
    background-color:  #fafafa;
    width: 277px;
    height: 86px;
}
span {
    color:  #484848;
    font-size: 60px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    letter-spacing: 3px;
    float: left;
    margin-top: 13px;
    margin-left: 33px;
}
h1{
    color:  #484848;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    float: left;
    margin-top: 18px;
}
p {
    color:  #484848;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    margin: 49px 0 0 138px;
}
.two-line {
    background-color:  #f2f2f2;
    color:  #484848;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 69px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.free-line {
    background-color:  #e3e3e3;
    color:  #484848;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 69px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.four-line {
    height: 116px;
    background-color: #dddddd;
}
.first-colon {
    width: 310px;
    height: 70px;
}
.button1 {
    border-radius: 5px;
    background-color:  #484848;
    width: 192px;
    height: 49px;
    margin-top: 34px;
    margin-left: 59px;
    color:  #ffffff;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 49px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    transition: 0.2s;
}
.button1:hover {
    color: rgba(9, 9, 9, 0.73);
}
.gradient1 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:  #404040;
    width: 192px;
    height: 7px;
    position: absolute;
    margin-top: 75px;
    margin-left: 59px;
}
.button2 {
    border-radius: 5px;
    background-color: #89c331;
    width: 192px;
    height: 49px;
    margin-top: 34px;
    margin-left: 44px;
    color:  #ffffff;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 49px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    transition: 0.2s;
}
.button2:hover {
    color: rgba(9, 9, 9, 0.73);
}
.gradient2 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #79b027;
    width: 192px;
    height: 7px;
    position: absolute;
    margin-top: 75px;
    margin-left: 44px;
}
.button3 {
    border-radius: 5px;
    background-color: #f04a56;
    width: 192px;
    height: 49px;
    margin-top: 34px;
    margin-left: 44px;
    color:  #ffffff;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 49px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    transition: 0.2s;
}
.button3:hover {
    color: rgba(9, 9, 9, 0.73);
}
.gradient3 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #df3a46;
    width: 192px;
    height: 7px;
    position: absolute;
    margin-top: 75px;
    margin-left: 44px;
}
.button4 {
    border-radius: 5px;
    background-color: #20807c;
    width: 192px;
    height: 49px;
    margin-top: 34px;
    margin-left: 44px;
    color:  #ffffff;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 49px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    transition: 0.2s;
}
.button4:hover {
    color: rgba(9, 9, 9, 0.73);
}
.gradient4 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #16736f;
    width: 192px;
    height: 7px;
    position: absolute;
    margin-top: 75px;
    margin-left: 44px;
}
.footer2 {
    background-color: #eeeeee;
}
.footer3 {
    background-color: #f4f4f4;
}
.footer4 {
    background-color: #eeeeee;
}
a {
    text-decoration: none;
}
.fa-archive {
    color:  #848484;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 69px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.fa-cloud {
    color:  #848484;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 69px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.fa-envelope {
    color:  #848484;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 69px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.fa-cube {
    color:  #848484;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 69px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.fa-life-ring {
    color:  #848484;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 69px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.fa-users {
    color:  #848484;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 69px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}