
@font-face {
    font-family: 'Arimo-bold';
    src: url('../font/Arimo-Bold.svg');
    src: url('../font/Arimo-Bold.eot');
    src: url('../font/Arimo-Bold.ttf');
    src: url('../font/Arimo-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Arimo';
    src: url('../font/Arimo.svg');
    src: url('../font/Arimo.eot');
    src: url('../font/Arimo.ttf');
    src: url('../font/Arimo.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arimo-Italic';
    src: url('../font/Arimo-Italic.svg');
    src: url('../font/Arimo-Italic.eot');
    src: url('../font/Arimo-Italic.ttf');
    src: url('../font/Arimo-Italic.woff');
    font-weight: normal;
    font-style: italic;
}
table th {
    font-family: Arimo-bold, sans-serif;
}
table td {
    font-family: Arimo, sans-serif;
}
.one_one {
    height: 112px;
}
.one_two {
    height: 166px;
}
.one_g {
    font-size: 16px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    background-color:  #e3e3e3;
    width: 157px;
    color:  #484848;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
}
.one_w {
    background-color:  #f2f2f2;
    width: 157px;
    color:  #484848;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.one_c1 {
    font-size: 20px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
    width: 198px;
}
.green {
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-color:  #89c331;
}
.red {
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-color: #f04a56;
}
.another{
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    background-color:  #20807c;
}
.buy1 {
    border-radius: 5px;
    border-top: 2px solid #414141;
    border-left: 2px solid #414141;
    border-right: 2px solid #414141;
    border-bottom: 5px solid #343434;
    background-color:  #414141;
    width: 142px;
    height: 39px;
    color:  #ffffff;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-style: normal;
    line-height: 34px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border: 25px solid #3a4965;
}
td {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
}
i {
    font-size: 24px;
    color: rgba(132, 132, 132, 255);
    text-align: center;
}
.first-letter {
    font-size: 14px;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}
sup {
    font-size: 18px;
    position: absolute;
    margin-top: 7px;
}
.dollar {
    font-size: 36pt;
    margin: 0 0 0 -115px;
}
.end-text {
    font-size: 14px;
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
}